/* ============== variables ===============*/
$primaryFont: 'Noto Serif', sans-serif;
$secondaryFont: 'Libre Franklin', sans-serif;

$primaryColor: #4A90E2;
$secondaryColor: #cbe4ff;

$lite: #ffffff;

$heading-text-color: #303030;
$body-text-color: #303030;


$container-width: 1200px;
$wrapper-width: 816px;
/*==============media query variable ============*/
$desktop: '(min-width: 1200px)';
$desktopTab: '(min-width: 768px)';
$desktopLgToMobile: '(max-width: 1399px)';
$laptop: '(max-width: 1199px)';
$tab: 'only screen and (max-width: 991px)';
$mobile: 'only screen and (max-width: 767px)';
$mobile-sm: 'only screen and (max-width: 424px)';
$mobile-375: 'only screen and (max-width: 375px)';
$mobile-320: 'only screen and (max-width: 320px)';
$mobileLandScape: 'only screen and (orientation: landscape) and (max-width: 767px)';